<style>
    .center {
      margin: auto;
      width: 60%;
      /* border: 3px solid #111110; */
      padding: 10px;
    }


.link { color: #FF0000; 
    text-align: center;
}
    </style>

<link rel="stylesheet" type="text/css" href="/app.css">

<div class="center">
<h1>Home Page</h1>
<h2> wondering what to what next !! </h2>
<h3> let us help you with a random suggestion from TOP 300 movies of all time. </h3>
<h2><a class ='link' href="/movie">Surprise Me!!</a></h3>

</div>